# Build files
.gradle
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.svg
!.idea/dictionaries
/captures

# Configuration files
local.properties

# macOS specific files
.DS_Store

# Dev
.history
signingkey.jks
nul

# Local dev scratch files
hs_err_pid*.log
replay_pid*.log
vlc-help.txt
gradle/build-logic/bin/
src/id/animesail/*.html
src/id/animesail/*.har
